html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #eee;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.textLeft {
    text-align: left !important;
}

.textRight {
    text-align: right !important;
}

.textCenter {
    text-align: center !important;
}

.container {
    padding: 0 2rem;
}

.content {
    max-width: 100vw;
}

.centered {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    min-height: calc(100vh - 120px);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    /* padding-bottom: 2rem;
    position: fixed;
    bottom: 0;
    width: 80%;
    margin-left: 10%; */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

/* @media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: black;
    }
    footer {
        border-color: #222;
    }
} */
